<template>
  <div>
    <motivation-message :round="round"/>
    <span @click="addDrink">
      <drink/>
    </span>
    <score :round="round"/>
  </div>
</template>

<script>
import MotivationMessage from '../components/MotivationMessage.vue'
import Drink from '../components/Drink.vue'
import Score from '../components/Score.vue'
export default {
  components: {
    MotivationMessage,
    Drink,
    Score
  },
  data() {
    return {
      round: 0
    }
  },
  methods: {
    addDrink() {
      this.round++
    }
  }
}
</script>