<template>
  <div class="cup">
    <icon/>
    {{ hour }}
  </div>
</template>

<script>
import moment from 'moment'
import Icon from './icons/Cup.vue'
export default {
  components: { Icon },
  computed: {
    hour() {
      return moment().format('H:mm')
    }
  }
}
</script>

<style lang="sass" scoped>
.cup
  margin-top: 5px
  text-align: center
  width: 50px
  display: inline-block
  margin-right: 15px
</style>
