<template>
  <span class="drink">
    <div class="circle">
      <icon/>
    </div>
    <span>Click to drink</span>
  </span>
</template>

<script>
import Icon from './icons/Drink.vue'
export default {
  components: { Icon }
}
</script>

<style lang="sass" scoped>
.drink
  margin: 30px 0
  cursor: pointer
  display: inline-block
.circle
  display: inline-block;
  border: 3px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  svg
    width: 34px
    position: relative
    left: 7px
    top: 7px    
</style>
