<template>
  <div>
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  props: {
    round: {
      type: Number,
      required: true
    }
  },
  computed: {
    message() {
      const roundMessages = this.messages[this.round]
      const randomMessage = _.random(0, roundMessages.length-1)

      return roundMessages[randomMessage]
    }
  },
  data() {
    return {
      messages: [
        [
          'Good day your dehydrated fucker!',
          'Hey dumbass! Drink some water.'
        ],
        [
          'You finish? Fill this shit again.',
          'Really? Just this shit?'
        ],
        [
          'Ok... now you are a human being.',
          'You have been promoted to a human being.',
          'Good boy. Do you stopped?'
        ],
        [
          'Finally! Now, run for your life.',
          'Now, be prepered for the final countdown.',
          "It's fine. fucker."
        ]
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
h1
  font-weight: 500
  margin: 0
</style>
