<template>
  <div>
    You drink {{ round }} {{ round == 1 ? 'cup' : 'cups' }} or {{ round * cupMl }}mls in this day<br>
    <cup v-for="n in round" :key="n"/>
  </div>
</template>

<script>
import Cup from './Cup.vue'
export default {
  props: {
    round: {
      type: Number,
      required: true
    }
  },
  components: { Cup },
  data() {
    return {
      cupMl: 750
    }
  }
}
</script>