<template>
  <svg x="0px" y="0px" viewBox="0 0 94.5 119.6" xml:space="preserve">
    <g>
      <path d="M93.8,1.4c-0.6-0.7-1.4-0.9-2.3-0.9H3c-0.9,0-1.7,0.2-2.3,0.9C0.1,2.1-0.1,2.8,0,3.7l15.2,112.7c0.2,1.5,1.5,2.8,3,2.8
        l57.8,0.4l0,0c1.5,0,2.8-1.3,3-2.8L94.4,3.9C94.6,2.9,94.4,2,93.8,1.4z M20.9,112.9L10.3,34.6c4.1-1.7,16.1-5.1,35.6,2.7
        c10.3,4.1,18.9,5.4,25.5,5.4c5.1,0,9-0.8,11.9-1.6L73.5,113L20.9,112.9z M84.3,34.6c-1.4,0.6-4.2,1.5-8.2,1.9
        c-5.7,0.6-15.2,0.3-27.9-4.8c-19.5-7.7-32.5-5.2-38.7-3l-3-22.2h81.6L84.3,34.6z"/>
    </g>
  </svg>
</template>

<style lang="sass" scoped>
svg
  enable-background:new 0 0 94.5 119.6
</style>
