<template>
  <svg x="0px" y="0px" viewBox="0 0 100 99.7" xml:space="preserve">
    <g>
      <path d="M71.1,23.8c-2.3,0-4.5-1-6.2-2.9c-1.8,1.9-4,2.9-6.2,2.9c-2.3,0-4.5-1-6.2-2.9c-1.8,1.9-4,2.9-6.2,2.9
        c-3.3,0-6.3-2.1-8.3-5.8c-0.5-1-0.2-2.2,0.8-2.8c1-0.5,2.2-0.2,2.8,0.8c1.2,2.3,3,3.6,4.7,3.6c1.6,0,3.3-1.2,4.5-3.2l1.7-2.9
        l1.7,2.9c1.2,2,2.9,3.2,4.5,3.2c1.6,0,3.3-1.2,4.5-3.2l1.7-2.9l1.7,2.9c1.2,2,2.9,3.2,4.5,3.2s3.3-1.2,4.5-3.2
        c0.6-1,1.8-1.3,2.8-0.7c1,0.6,1.3,1.8,0.7,2.8C77.1,21.9,74.2,23.8,71.1,23.8L71.1,23.8z"/>
      <path d="M98.6,18.2c-0.7-2.2-2.7-3.7-5.1-3.7c-0.5,0-1.1,0.1-1.6,0.2l-6.3,2L87.5,1H30l3.6,34.1c-0.8,0.3-1.3,0.6-1.5,0.7
        c-4.5,2.3-7.9,7.5-8.6,9.7C22.6,47.6,1.6,99.7,1.6,99.7H45c0,0,10.5-4.4,16.1-10.5c2.5-2.8,4.5-6.6,5.8-9.5h11l1.3-10.3h10
        c2.9,0,5.3-2.4,5.3-5.3c0-2.9-2.4-5.3-5.3-5.3h-8.7l0.2-1.8h8.7c2.9,0,5.3-2.4,5.3-5.3s-2.4-5.3-5.3-5.3H82l0.2-1.8h7.1
        c2.9,0,5.3-2.4,5.3-5.3s-2.4-5.3-5.3-5.3h-5.8l0.7-5.5l10.9-3.4c1.4-0.4,2.5-1.4,3.1-2.6C98.9,21,99.1,19.5,98.6,18.2z M74.1,75.3
        H52c-0.2,0.8-0.3,1.7-0.6,2.5c-2,7.6-8.5,11.9-8.8,12.1c-0.3,0.2-0.5,0.2-0.8,0.2c-0.5,0-1-0.2-1.3-0.7c-0.5-0.7-0.3-1.7,0.5-2.1
        c0.1,0,5.8-3.9,7.5-10.3c1.8-6.8,0.9-12.9,0.9-13c0-0.1,0-0.3,0-0.4h14.9c3.6,0,7.1-2.1,7.1-6.4s-3.1-6.9-7.1-6.9H39.6L34.8,5.3
        h47.8L74.1,75.3z"/>
    </g>
  </svg>
</template>

<style lang="sass" scoped>
svg
  enable-background:new 0 0 100 99.7
</style>
